@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    /* Colours */
    --body-color : #E4E9F7;
    --sidebar-color:#FFF;
    --primary-color:#695CFE;
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;


    /* Transitions */
    --tran-02:all 0.2s ease ;
    --tran-03:all 0.3s ease ;
    --tran-04:all 0.4s ease ;
    --tran-05:all 0.5s ease ;
}

body{
    height: 100vh;
    background: var(--sidebar-color);
}



/* Sidebar */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width:250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    border: 2px solid;
}

/* Reusable CSS */
.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    font-size: 20px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);
}


.sidebar header{
    position: relative;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar .image-text .header-text{
    display: flex;
    flex-direction: column
}
.header-text .name{
    font-weight: 600;
}

.header-text .profesion{
    margin-top: -2px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform : translateY(-50%);
    height:25px;
    width: 25px;
    background:var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:var(--sidebar-color);
    font-size: 22px;
}

.sidebar .search-box{
    background: var(--primary-color-light);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    background: var(--primary-color-light);
}
.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition:var(--tran-04);
}

.sidebar li a:hover{
    background: var(--text-color);

}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    background: var(--primary-color-light);
    justify-content: center;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center 
}

.menu-bar .mode i{
    position: absolute;
}

.menu-bar .mode i.sun{
    opacity:0;
} 

.menu-bar .mode .toggle-switch{
    display: flex;
    height: 100%;
    min-width: 60px;
    justify-content:center ;
    align-items: center;
    cursor: pointer;
}

.toggle-switch .switch{
    height: 22px;
    width: 44px;
    border-radius: 25px;
    position: relative;
    background: var(--toggle-color);
}

.switch::before{
    height: 15px;
    content: '';
    position: absolute;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background:var(--sidebar-color);
    cursor: pointer;
}