body{
	background-color: white;
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    flex-direction: row;
}
.texts{
    color: black;
    text-align: center;
    text-shadow: 2px;
    padding: 2px;
}
.uppercase{
    text-transform: uppercase;
}
.heder-texts{
    align-items: center;
    flex-direction: column;
}
.footer{
    background-color: rgb(241, 201, 155);
}
.nav-heder{
    background-color: rgb(241, 201, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2px;
    width: 100%;
}
.nav-texts{
    align-items: center;
    flex-direction: row;
    display: flex;
}

.nav-bar {
    position: relative;
    color: black;
}

.nav-bar-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(233, 166, 166);
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #f39393;
}

.nav-bar-list li {
    padding: 10px;
    white-space: nowrap;
}

.nav-bar-list li a{
    color: black;
    padding: 3px;
}

.nav-bar a{
    color: black;
}
a{
    text-decoration: none;
}
.nav-bar-list li:hover {
    background-color: #f0f0f0;
}

.nav-bar:hover .nav-bar-list {
    display: block;
}
